body {
  background-color: #f3f6f8;
  font-family: 'Open Sans', sans-serif;
}

.logo {
  width: 50%;
  height: 5%;
  margin: -25px;
}

nav {
  background-color: #018060; 
  height: 100px;
  color: white;
}

.navbar-brand {
  font-size: 2rem;
  font-weight: bold;
  font-style: italic;
}

.container {
  margin: 100px;
}

input[type=text] {
  width: 250px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
width: 90%;
}

.card {
  margin: 10px 10px;
  padding: 1px; 
  box-shadow: 1px 1px 1px 1px;
}

h1 {
  text-align: center;
}

.row .list-container {
    overflow-x: auto;
    flex-wrap: nowrap;
}

.movie-container {
	padding: 1rem 4rem; 
	/* border-radius: 50px; */
	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25);
	margin-bottom: 1rem;
	background-color: white;
	/* margin-right: 1rem; */
  margin-left: 1rem;
}

.movie-poster {
  width: 120%;
}

